/* .section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $primary-color-light, $primary-color-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
*/

.summary-section {
  margin-top: 3.2rem;
  padding: 9.6rem 0;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-light)
  );
}

.summary-inner {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9) 50%,
      transparent 50%
    ),
    url(../assets/images/banner/summary-banner.jpg);

  background-size: cover;
  background-position: right;
}

.summary-content {
  width: 50%;
  padding: 6rem;
}

.summary-content h2 {
  font-size: 4.4rem;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 3.2rem;
}

.summary-content h3 {
  color: var(--color-primary);
  line-height: 1.1;
}

.summary-content p {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.summary-numbers {
  background-color: var(--color-secondary);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 3.2rem;
  padding: 6rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}

.summary-number {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  align-items: center;
  text-align: center;
}

.summary-number p {
  font-size: 2rem;
  color: var(--color-light);
}

.summary-number img {
  width: 7rem;
}

@media only screen and (max-width: 1200px) {
  .summary-inner {
    background-image: linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 65%,
        transparent 65%
      ),
      url(../assets/images/banner/summary-banner.jpg);
    background-size: cover;
  }

  .summary-content {
    width: 65%;
  }
}

@media only screen and (max-width: 900px) {
  .summary-inner {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%
      ),
      url(../assets/images/banner/summary-banner.jpg);
    background-size: cover;
  }

  .summary-content {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .summary-content h2 {
    font-size: 3.2rem;
    margin-bottom: 1.6rem;
  }

  .summary-content h3 {
    font-size: 2rem;
    margin-bottom: 1.6rem;
  }

  .summary-content {
    padding: 3.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .summary-content {
    padding: 1.6rem;
  }
}
