.dashboard {
  display: flex;
  min-height: calc(100vh - 7.2rem);
  z-index: 1;
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 8px;
  left: 16rem;
  width: 60px;
  height: 60px;
  border-radius: 99px;
  background-color: var(--color-priamry);
  cursor: pointer;
  z-index: 3333;
}

.hamburger {
  position: relative;
  top: calc(50% - 2px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 99px;
  background-color: var(--color-secondary);
  transition-duration: 0.25s;
}

.hamburger > span::before {
  content: "";
  top: -8px;
}
.hamburger > span::after {
  content: "";
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
  flex: 1 1 0;
  max-width: 300px;
  padding: 2rem 1rem;
  background-color: var(--color-primary);
  z-index: 1000;
  position: relative;
}

.sidebar h3 {
  color: var(--color-light);
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

.sidebar .menu {
  margin: 0 -1rem;
  margin-top: 3.2rem;
}

.sidebar .menu .menu-item {
  display: block;
  padding: 1em;
  color: #fff;
  text-decoration: none;
  transition: 0.2s linear;
  font-size: 1.6rem;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: var(--color-secondary);
  border-right: 5px solid var(--color-secondary);
}

.sidebar .menu .menu-item:hover {
  border-right: 5px solid var(--color-secondary);
}

.content {
  flex: 1 1 0;
  padding: 2rem;
}

.content h1 {
  color: var(--color-priamry);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.content p {
  color: var(--color-primary);
}

@media (max-width: 1024px) {
  .sidebar {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
  .content {
    padding-top: 2.4rem;
  }
  .sidebar {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    transition: 0.2s linear;
  }

  .sidebar.is-active {
    left: 0;
  }
}
