.feature-products {
  padding: 9.6rem 0;
}

.feature-products-container {
  margin-top: 6.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
}

.feature-product {
  background-color: rgba(3, 69, 107, 0.075);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  transition: 300ms ease-in-out;
}

.feature-product:hover {
  transform: translateY(-10px);
}

.feature-product img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .feature-products {
    padding: 4.8rem 0;
  }

  .feature-products-container {
    margin-top: 3.2rem;
    grid-gap: 3.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .feature-products {
    padding: 4.8rem 0;
  }

  .feature-products-container {
    margin-top: 3.2rem;
    grid-gap: 3.2rem;
  }
}
