.header {
  position: sticky;
  top: 0;
}
.nav {
  height: 7.2rem;
  /* background-color: #ebf5f0; */
  background-color: #e6eaed;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-logo h2 a {
  font-size: 2.4rem;
  color: var(--color-primary);
  font-weight: 700;
}

.nav-navigation {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

.nav-navigation a {
  font-size: 1.8rem;
  color: var(--color-slate-dark);
  font-weight: 500;
  transition: 300ms;
}

.nav-navigation li:hover a {
  color: var(--color-secondary);
}

.nav-button {
  display: flex;
  gap: 1.6rem;
}

.nav-navigation .login-btn {
  color: #fff;
}
.nav-navigation .signup-btn {
  color: var(--color-secondary);
}

.header-profile-box {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.hamburger-btn {
  border: none;
  background: transparent;
  color: var(--color-secondary);
  font-size: 4rem;
  line-height: 0;
  display: none;
  padding: 0.2rem 0.5rem;
}

/* Media Query */
@media only screen and (max-width: 900px) {
  .hamburger-btn {
    display: block;
  }

  .nav-button {
    margin-top: 2.4rem;
    flex-direction: column;
  }

  .nav-navigation {
    position: absolute;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    background-color: var(--color-primary-light);
    width: 100%;
    top: 72px;
    left: 0;
    z-index: 9999999;
    padding: 4rem 0;
    transform: translateX(-1000px);
    transition: 300ms ease-in-out;
  }

  .navigation .nav-btn {
    margin-top: 2.4rem;
  }

  .open .nav-navigation {
    transform: translateX(0);
  }

  .nav-navigation a {
    color: #fff;
  }
}
