.loading {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh);
  background-color: var(--color-primary);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.15) 0%,
    rgba(0, 153, 212, 0) calc(15% + 100px),
    rgba(0, 99, 138, 0) calc(85% + 100px),
    rgba(0, 0, 0, 0.15) 100%
  );
}
.loading-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-inner > div {
  width: 3vw;
  height: 3vw;
  border-radius: 100%;
  margin: 1vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.yellow {
  background-color: var(--color-secondary);
}

.red {
  background-color: var(--color-secondary);
  animation-delay: 0.1s;
}

.blue {
  background-color: var(--color-secondary);
  animation-delay: 0.2s;
}

.violet {
  background-color: var(--color-secondary);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
    filter: blur(3px);
  }
  75% {
    filter: blur(3px);
    transform: scale(1.4);
  }
}
