.my-orders h2 {
  text-align: center;
  padding: 3.2rem 0;
}

.table-section {
  margin-top: 2.4rem;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.6rem;
}

.table-section table thead {
  background-color: var(--color-slate-light);
}

.table-section table thead th {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-slate-lightest);
  padding: 1.6rem 1.2rem;
  vertical-align: top;
  border: 1px solid var(--color-primary-light);
}

.table-section table tbody tr td {
  font-size: 1.6rem;
  background-color: var(--color-primary-lightest);
  padding: 1.2rem;
  text-align: center;
  border: 1px solid var(--color-primary-light);
}

.table-btn {
  padding: 0.8rem;
}

.table-btn:not(:first-child) {
  margin-left: 1.6rem;
}

@media (max-width: 768px) {
  .manage-inventory {
    padding-bottom: 0;
  }

  .table-section table thead {
    display: none;
  }

  table,
  table tbody,
  table tr,
  table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 1.5rem;
  }

  .table-section table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  table td:before {
    content: attr(data-lebel);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 1.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: left;
  }

  .table-header {
    margin-bottom: 3.2rem;
  }

  .table-header h3 {
    font-size: 1.8rem;
  }

  .table-header .btn {
    padding: 1rem;
  }

  .table-btn:not(:first-child) {
    margin-left: 0;
    margin-top: 1rem;
  }
}
