.my-profile .section-heading {
  margin-bottom: 3.2rem;
}

.my-profile-inner {
  padding: 3.2rem;
  max-width: 90rem;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.my-profile-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.my-profile-details img {
  width: 20rem;
  height: 20rem;
  justify-self: end;
  border-radius: 10px;
}

.my-profile-details h3 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: var(--color-primary);
}

.my-profile-details span {
  margin-right: 1rem;
  font-weight: 600;
}

.update-profile-inner h3 {
  text-align: center;
  margin-bottom: 0;
  padding: 3.2rem 0;
  font-size: 3.2rem;
}

.my-profile .form-container {
  max-width: 90rem;
}

@media only screen and (max-width: 700px) {
  .my-profile-others {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }

  .my-profile-details {
    grid-template-columns: 1fr;
  }

  .my-profile-details img {
    justify-self: center;
  }
}
